
.centrado{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#jefeLab , #unidad , #producto, h2{
	
	
	color:blue;
}


h4 {
	margin: 8px;
	
}

h5 {
	margin-top: 4px;
    margin-bottom: 4px;
	
}

textarea {
	
	margin-bottom : 10px;
}