.centrado{
    text-align: center;
    margin:2% auto;
	
}
.tip{
    background-color: #ffffff;
    padding: 10px;
    display: none;
    position: absolute;
	margin-bottom: 10%;"
}
.input-group{
    text-align: center;
    margin:0 auto;

}
.well{
	
	padding-left: 5%;
}
#logo{
    
    margin:0 auto;

}
 .btn-file {
                position: relative;
                overflow: hidden;
				
            }
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.ponderacion{
	
	color : red;
	
	
}
.fadebox {
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
position:fixed;
}
.overbox {
display: none;
position: absolute;
top: 15%;
left: 15%;
width: 70%;
height: 70%;
z-index:1002;
overflow: auto;
position:fixed;

}